.single-char{
	display: flex;
	gap: 50px;

	&__img{
		width: 293px;
	}
	&__title{
		font-weight: 700;
		font-size: 22px;
		margin-bottom: 25px;
	}
	&__description{
		font-size: 18px;
		font-weight: 400;
	}
}